/* For rapid development and quick CSS classes */
.menu .menu--footer .nav li a{
    color: #ee7202 !important;
}

body, html {
    background: white;
    color: #6D6E71;
    font-family: "Solitas_Light", arial, san-serif !important;
}

.field .field--name-field-url .field--type-link .field--item a{
    color: #ee7202 !important;
}
.field--item a{
    color: #ee7202 !important;
}

.menu--footer a{
    color: #ee7202;
    font-size: 1.143em;
    margin-top: 0;
    font-family: "Interface_Bold", arial, san-serif;
}

/* copyrightblock */
#block-copyrightblock .field{
    font-size: 1.15rem;
    color: #9b9b9b;
}
/* footer items */
.menu--footer li a{
    display: inline;
    float: left;
    margin: 2rem;
}

img.img-responsive{
    /* background-color: #dfdfdf; */
    /* background-color: #a19f9f; */
    background-color: #c9c9c9;
}

.field--name-field-landing-page-items{
    background-color: #0e4194;
}

.field--name-field-summary{
    font-size: 2.35rem;
    color: #fff;
}

.field.field--name-field-url.field--type-link a{
    text-decoration: none;
    background-color: #e1480f;
    color: #fff !important;
    /* font-size: 1.75rem; */
    font-size: 2.3rem;
    padding: 1.45rem 2.5rem;
    border-radius: 0.5rem;
}
#block-copyrightblock.field--name-field-landing-page-items{

}