body{
    font-family:Interface, Arial, Helvetica, sans-serif !important;
}
#navbar-top{
    background-color: #fff !important;
}

.field--name-field-markup .btn{
    background-color: #ff6600;
    border-color: #ff6600;
    font-size: 1.05rem;
    text-transform: none;
    color: #fff;
    font-weight: 600;
}

#navbar-main{
    display: none;
}

.navbar{
    padding-bottom: 0;
}

.field--type-image img {
    max-width: 100%;
    max-height: 100%;
}

.banner-title{
    color: #5d656c;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.banner-description{
    /* color: #41474d; */
    color: #687078;
}

.front-nav-link{
    color: #495057 !important;
    font-weight: 600;
    font-size: 1.15rem;
}

.front-nav-item:hover{

}

.front-nav-link:hover{
    color: #ff6600 !important;
}

.menu--footer-navigation{
    background-color: #c1c1c1;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
