{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<span class="modal-logo"><img alt="TM WHOLESALE" src="/sites/default/files/inline-images/logo-white.svg"></span>
{{ form|without('status_messages') }}
