@charset "utf-8";
body{font-family:'interfaceregular';margin:0; padding:0; background:#F8F8FB; font-size:16px; color:#3a5263; overflow-x:hidden;}

div, section, figure{padding:0; margin:0;}

a {border:0; outline:none; -webkit-transition: all 200s ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;	color:#000;}
a:hover, a:focus{text-decoration:none; color:#FF6600;  outline-style: none;}
img{max-width:100%;}
.clear{clear:both}
.clearfix:before,.clearfix:after{ display: table;  content: " ";}
.clearfix:after { clear: both;}
.invalid-tooltip{color: #ff3c31;font-family: "Museo Sans 500",sans-serif;}
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid{background:none;font-family: "Museo Sans 500",sans-serif;}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus, .form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{box-shadow:0 0 0 0;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;  margin: 0; }
input:-webkit-autofill{transition: all 5000s ease-in-out 0s;}

::-webkit-scrollbar {width: 7px; height: 7px; background:rgba(255, 255, 255, 0.3);}
::-webkit-scrollbar-track {border-radius: 5px;}
::-webkit-scrollbar-thumb { border-radius: 5px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); background:rgba(255, 102, 0, 0.9);}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: rgba(255, 255, 255, 0.6); opacity: 1; /* Firefox */}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color:rgba(255, 255, 255, 0.6);}
::-ms-input-placeholder { /* Microsoft Edge */ color:rgba(255, 255, 255, 0.6);}

.header-hld{background: rgba(255, 255, 255, 1.0);box-shadow: 0px 0.75px 20px rgba(18, 38, 63, 0.05);padding: 5px 0;position: fixed; width: 100%; top: 0; left: 0; z-index:9;}
.header-hld .container{max-width:1366px;}
.menu--before-login{display:flex; margin:0; padding:0;}
.menu--before-login li{display: flex;  align-items: center;margin: 0 10px;}
.menu--before-login li a{background-color: transparent; padding:10px 10px; text-align:center; color:#495057; font-size:16px; display:block;}
.menu--before-login li ul li a{text-align: left;width: 100%;}
.menu--before-login li a:hover, .menu--before-login li a:focus{ color:#FF6600;background-color: transparent;}
.menu--before-login .open > a, .menu--before-login .open > a:hover, .menu--before-login .open > a:focus{background-color: transparent;}
.menu--before-login li a.btn-login{background: #FF6600; padding:10px 15px; color:#fff; font-family:'interfacebold'; border-radius:6px;}
.before-login-menu-hld .menu--before-login li ul{
	width: 200px;
    position: absolute;
    top: 63px;
    background: #fff;
    display: block;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0.75px 20px rgb(18 38 63 / 5%);
    padding: 5px 0;
}
.menu--before-login li ul li {border-bottom: solid 1px #e7e7e7;}
.menu--before-login li ul li:last-child {border-bottom: solid 0px #e7e7e7;}


.hero-banner{min-height:450px;display: flex; align-items: center; background-repeat: no-repeat; background-position: 0 100%; background-size: 100% auto;}
.hero-txt{margin:0 auto; text-align:center;}
.hero-banner h1{font-family:'interfaceblack'; color:#495057; font-size:48px;margin-top: 30px;}
.hero-banner h3{font-family:'interfacethin'; color:#495057; font-size:30px; max-width:600px; margin:20px auto; }

/*Footer*/
.footer-hld{}
.footer-hld-top{background:#F2F2F5; }
.footer-menu{border-right:1px solid rgba(181, 181, 195, 0.3); padding:0; margin:0 0 30px; height: 90%;}
.footer-menu li{color:#7E8299; display:block; padding:0 0px 8px; text-transform: uppercase; font-size:16px; line-height:2; font-family: 'interfacebold';}
.footer-link-heading{color:#7E8299; margin:0; display:block; padding:0 0px 8px; text-transform: uppercase; font-size:16px; line-height:2; font-family: 'interfacebold'; position: relative;  border-right: 1px solid rgba(181, 181, 195, 0.3);pointer-events: none;}
.footer-menu li a{color:#7E8299; display:block; padding:0px; text-transform: none; font-size:15px; line-height:1.5; font-family: 'interfaceregular';}
.footer-menu li a:hover{color:#FF6600;}
.footer-menu .footer-social{margin:0; padding:0;}
.footer-menu .footer-social li{margin: 0 7px 0 0; padding:0; display:inline-block;}
.footer-menu p{color:#7E8299; display:block; padding:0 0px 8px; text-transform: uppercase; font-size:16px; line-height:2; font-family: 'interfacebold';  padding: 0; margin: 0 0 8px; position: relative;}
.footer-desktop{overflow:hidden;}

.footer-hld-bot .container{max-width:1366px;}
.footer-hld-bot{background:#495057;}
.footer-hld-bot p{color:#B5B5C3; padding:0; margin:0; font-size:15px;}
.footer-menu-inline{margin:0; padding:0; text-align:right;}
.footer-menu-inline li{margin:0 10px 0 0; padding:0; display:inline-block;}
.footer-menu-inline li a{margin:0; padding:0; display:block;color:#B5B5C3; font-size:15px;}
.footer-menu-inline li a:hover{color:#FF6600;}
.footer-menu .content-footer{display:block; padding: 0;}
.no-border-right{border-right:0 !important;}

/*Product List*/
.heading{font-size:30px;}
.pro-list{margin:20px 0 20px; padding:0; display:flex;flex-wrap: wrap;justify-content: center;}
.pro-list li{margin:0 0 30px; padding:0; flex-grow: 1; flex-shrink: 1; flex-basis: 0; display: block; text-align: center;flex: 1 0 21%;max-width: 275px;}
.pro-list li a{margin:10px; padding:30px 20px; display:block; background:#fff;background-size: contain; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.07);border: 1px solid #F6F6F6; border-radius: 6px; height:100%;}
.pro-list li a h2{margin:0; padding:0 0 10px; color:#495057; display:block; text-transform: uppercase; font-size:20px; font-family: 'interfacebold';}
.pro-list li a p{margin:0; padding:0; color:#7E8299; display:block; font-size:16px; font-family: 'interfaceregular'; line-height:1.3;}
.orange-icon{background:#FF6600; border-radius:50%; text-align:center; width:95px; height:95px; display: flex; margin: 15px auto 20px; align-items: center; justify-content: center;}
.orange-icon svg path{stroke:#fff;}
.pro-list li a:hover{background:#003399;background-size: contain;}
.pro-list li a:hover .orange-icon{background:#fff;}
.pro-list li a:hover .orange-icon svg path{stroke:#FF6600; fill: #FF6600;}
.pro-list li a:hover .orange-icon svg path{stroke:#FF6600; fill: #FF6600;}
.pro-list li a:hover .orange-icon svg#website path{stroke:#FF6600; fill: transparent;}
.pro-list li a:hover h2, .pro-list li a:hover p{color:#fff;}


/*Modal*/
.modal-dialog {
    max-width: 520px;
}
#drupal-bootstrap4-modal.in{
	opacity: 1;
}
.modal-backdrop.fade {
    opacity: 0.7;
}
.user_login .modal-header{border: 0;padding: 0;}
.user_login .modal-header .modal-title{display: none;}
.user_login .modal-header .close{ padding: 0; width: 36px; height: 36px; z-index: 9; margin-right: -1.5rem;}
.user_login .modal-header .close span{font-size: 44px; font-weight: 300; line-height: 1;}
.user_login {margin-top: 140px;}
.user_login{padding: 20px; border-radius: 10px; }
.user_login .modal-body{overflow: visible;}
.modal-logo {
    /*position: absolute;
    top: -90px;
	left: 50%;
    transform: translateX(-50%);*/
	display: block;
    text-align: center;
    margin-bottom: 20px;
}
.modal-logo img{width:100px;}
.user_login h2, .modal-heading{
	font-size:26px;
	line-height:32px;
	text-align: center;
	color: #7E8299;
	font-family: 'interfacebold';
	    margin: 10px 0;
}
.modal-subheading{
	font-size:16px;
	line-height:22px;
	text-align: center;
	color: #7E8299;
	font-family: 'interfaceregular';
}
.btn{
	background: #003399;
	border-radius: 6px;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	text-decoration: none;
	font-family: 'interfacebold';
	color: #FFFFFF;
	padding:12px 30px;
	display:inline-block;
	border:0;
	margin: 0 auto;
}
.btn:hover, .btn:focus, .btn:active, .btn:visited, .btn:active:hover, .btn:active:focus, .btn:not(:disabled):not(.disabled):active{background:#1E82CB;box-shadow: 0 0 0 0; color: #fff;border: 0; outline: none;}

.form-group{position:relative;}
.form-control{
	background: #FFFFFF;
	border: 1px solid #E6E8EB;
	border-radius: 5px;
	height:50px;
	font-size: 16px;
	font-family: 'interfaceregular';
	padding: 0 15px;
	color: #7E8299;
	box-shadow: none;
}
.form-item-user-email .form-control{font-family: arial;}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 0;
}
.form-control:focus {
    border-color: #c4c6c8;
    outline: 0;
    box-shadow: 0 0 0 0;
}
.control-label{
	color: #7E8299;
	font-size: 16px;
	font-weight: normal;
	font-family: 'interfaceregular';
}
.has-error .control-label{color: #7E8299;font-size: 16px;}
.form-item-user-email, .form-item-brn, .form-item-wholesale-id, .form-item-company-name, .form-item-company-name-confirm, .form-item-wholesale-id-confirm, .form-item-brn-confirm, .form-item-first-name, .form-item-last-name, .form-item-hp-no, .form-item-office-number, .form-item-job-title {margin-bottom: 35px; margin-top: 20px;}
.form-item-wholesale-id, .form-item-company-name, .form-item-company-name-confirm, .form-item-wholesale-id-confirm, .form-item-first-name, .form-item-last-name, .form-item-hp-no, .form-item-office-number, .form-item-job-title{margin-top: 0px;}
.form-item-company-name-confirm, .form-item-wholesale-id-confirm, .form-item-first-name, .form-item-last-name, .form-item-hp-no, .form-item-office-number, .form-item-job-title{margin-bottom: 20px;}

.user_login .webform-readonly input[type="text"], .user_login .webform-readonly input[type="email"], .user_login .webform-readonly input[type="number"]{
    color: #717171;
    border-color: #b9b9b9;
    background: #ffffff;
}
/**/
.form-control:placeholder-shown + .control-label {
	cursor: text;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
    top: 14px;
    position: absolute;
    left:15px;
	-webkit-transition: all .2s; transition: all .2s;
  }
  .form-control::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
  }
  .form-control:focus::-webkit-input-placeholder {
	opacity: 0;
  }
  .form-control:not(:placeholder-shown) + .control-label,
  .form-control:focus + .control-label {
	cursor: pointer;
    top: -10px;
    position: absolute;
    left: 5px;
	background: #fff;
    padding: 0 10px;
	-webkit-transition: all .2s; transition: all .2s;
	color: #7E8299;
  }
.user_login .alert-danger,  .reset-password-hld .alert-danger{
	background-color: transparent;
    border: 0;
    color: #ed0000;
    font-size: 13px;
    padding: 5px 10px;
	margin: 0;
	padding-bottom: 0;
	position: absolute;
    bottom: -20px;
    left: 0;
  }
.form-type-password .alert-danger{bottom: 10px;}
.user_login .has-error .form-control, .reset-password-hld .has-error .form-control {
    border-color: #ed0000;
}
.user_login .has-error .form-control:focus, .reset-password-hld .has-error .form-control:focus {
    border-color: #ed0000;
    -webkit-box-shadow:none;
    box-shadow: none;
}
.form-actions.form-group{text-align: center; margin-top: 30px;}
.recaptcha-processed div{margin: 0 auto;}
.form-required:after {
	background-size: 7px 7px;
    height: 7px;
    width: 7px;
    margin-left: 4px;
}
.user_login legend{border-bottom: 0;}

/*Login Form*/
.block-login-form-popup{
	width: 160px;
    position: absolute;
    right: 1%;
    top: 25px;
    margin-right:0px;
}
.login-popup-form{
	background: #FF6600;
    padding: 10px 12px;
    color: #fff;
    font-family: 'interfacebold';
    border-radius: 6px;
	font-size: 15px;
}
.login-popup-form img{display: none;}
.login-popup-form:hover, .login-popup-form:focus, .login-popup-form:visited{color: #fff;background: #FF6600;}
.navigation {}

.user_login .webform-options-display-one-column{display: flex; flex-direction: row; justify-content: center;}
.user_login .webform-options-display-one-column .form-type-radio{margin: 10px 20px;}
.user_login .webform-options-display-one-column .form-type-radio .form-radio{
	 width: 24px;
    height: 24px;
    margin-left: -30px;
    margin-top: 0px;
    font-size: 18px;
}
.btn-hld {
  text-align: center;
}
.login-popup-form span{
  display: inline-block;
  margin-left: 3px;
}

/**/
.custom-popup-input-prefix .form-control:placeholder-shown + .control-label{left: 5px; top:-10px;background: #fff; padding: 0 10px;}
.custom-popup-input-prefix .prefix-hld{
	position: absolute;
    left: 15px;
    top: 14px;
    font-size: 16px;
    color: #7E8299;
}
.custom-popup-input-prefix .form-control{padding-left: 48px;font-size: 16px; font-weight: normal; font-family: 'interfaceregular';}
.mb-35{margin-bottom: 35px;}
.mb-20{margin-bottom: 20px;}
.label-top .form-control:placeholder-shown + .control-label{left: 5px; top:-10px;background: #fff; padding: 0 10px;}
.mailid-pass{text-align: center; margin: 15px 0; font-family: arial;margin-bottom: 25px;}
.btn-fp{color: #7E8299; text-decoration: underline; line-height: 1.5;font-size: 16px;margin-top: 5px; display: inline-block;}
.popup-password .form-item-password{position: relative;}
.shwpd {position: absolute; margin: 0; right: 10px;margin-top: -14px; top: 50%; transform: translateY(-50%); opacity: 0.6; cursor: pointer;}
.fp-icon img{width:100px; height: 100px;}
.form-item-email-confirm {font-family: arial;}

/*Reset Password*/
.reset-password-hld{
	position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(153,153,153,.2);
	padding: 30px;
    border-radius: 10px;
    outline: 0;
	box-shadow: 0 0px 15px rgb(0 0 0 / 10%);
	margin:100px auto;
	max-width: 550px;
}
.reset-password-hld h2{
	font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #7E8299;
    font-family: 'interfacebold';
    margin: 0px 0 15px;
}
.reset-password-hld p{
	font-size: 16px;
    line-height: 1.2;
    color: #3a5263;
    text-align: center;
    max-width: 90%;
    margin: 0 auto 10px;
    font-family: 'interfaceregular';
}
.reset-password-hld h4{
	font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #7E8299;
    margin: 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.password-strength__title, .password-confirm-message{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #7E8299;
	padding-top: 4px;
}
.password-strength__meter {height: 4px;}
.password-strength__indicator.is-strong{background-color: #26ac5d;}
.password-strength__indicator.is-good{background-color: #ffa500;}
.password-strength__indicator.is-weak{background-color: #ed0000;}
.password-strength__indicator.is-fair{background-color: #ed5800;}
.password-suggestions{font-size: 14px;color: #7E8299;}
.password-suggestions ul {
	list-style: none;margin-top: 5px;
  }
.password-suggestions ul li::before {
	content: "\2022";
	color: #003399;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
  }
.reset-password-hld .alert-danger{position: relative; bottom: 0; top:0; padding:5px 0;}
.reset-password-message{text-align: center;}
.reset-img img{width: auto; height: 200px;}

/*Admin pages*/
.vbo-view-form{max-width: 1000px; margin:30px auto;}
.vbo-view-form #vbo-action-form-wrapper{text-align: right;}
.vbo-view-form #vbo-action-form-wrapper .select-wrapper{width:200px;}
.vbo-view-form #edit-actions--2 #edit-submit--2{display: none;}
.vbo-view-form .views-empty h2{font-size: 16px;  text-align: center;  color: #7a7a7a;}

.views-bulk-operations-confirm-action{max-width: 1000px; margin: 30px auto;  text-align: center;}
.views-bulk-operations-confirm-action h3{font-size: 18px; font-weight: 600; border-bottom: solid 1px #ccc; padding: 0 0 10px; margin: 0 0 15px; text-align: left;}
.views-bulk-operations-confirm-action ul{text-align: left;  border-bottom: solid 1px #ccc;  padding-bottom: 20px; margin-bottom: 20px;}
.views-bulk-operations-confirm-action #edit-cancel{background: #666; margin-left: 10px;}

.view-id-admin_approval{max-width: inherit; margin:30px 0;}
.view-id-admin_approval .views-empty h2{font-size: 16px;  text-align: center;  color: #7a7a7a;}

.content-hld .messages__wrapper{max-width: 1000px; margin: 20px auto;}

.before-login-menu-hld{margin-right: 180px;display: flex; justify-content: flex-end;}
.before-login-menu-hld .menu--before-login{justify-content: flex-end; align-items: center; height: 100%;}
.region-header{ display: flex;  width: 100%;  position: relative;}

.menu--before-login li ul.dropdown-menu{display: none !important;}
.menu--before-login li.open ul.dropdown-menu{display: block !important;}
.menu--before-login li .dropdown-toggle .caret{display: none;}

/*After Login*/
.path-frontpage .main-content{margin-left: 0; overflow: inherit;}
.path-frontpage .main-content .content {padding: 0; margin-top: inherit;}
.navigation {padding: inherit; width: inherit; z-index: inherit;border: 0; justify-content: flex-end;}

#sidebar-menu ul li a{position: relative; padding-left:50px;}
#sidebar-menu ul li.open a{color: #fff;}
#sidebar-menu ul li a span.caret{display: none;}
#sidebar-menu ul li a.dropdown-toggle:after{transition: .25s ease-in-out; position: absolute; font-size: 18px; right: 15px; top:7px;font-family: "Font Awesome 5 Free"; font-weight: 900; border: 0; content: "\f107";}
#sidebar-menu ul li.open a.dropdown-toggle:after{transition: .25s ease-in-out; -webkit-transform: rotate(-180deg); color: #fff;  transform: rotate(-180deg);}

#sidebar-menu ul li.mm-active a.dropdown-toggle:after{transition: .25s ease-in-out; -webkit-transform: rotate(-180deg); color: #fff;  transform: rotate(-180deg);}
#sidebar-menu ul li.mm-active.open a.dropdown-toggle:after{transition: .25s ease-in-out; -webkit-transform: rotate(-0deg); color: #fff;  transform: rotate(-0deg);}

#sidebar-menu ul li a:before{position: absolute;font-size: 20px; left: 15px; top: 50%; transform: translateY(-50%); font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";}
#sidebar-menu ul li ul.sub-menu li a:before{display: none;}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:before{left: 22px; font-size: 24px;}
#sidebar-menu ul li a.icon-dashboard:before{content: "\f009";}
#sidebar-menu ul li a.icon-enquiry-form:before {content: "\f15c";left: 18px;}
#sidebar-menu ul li a.icon-self-service-coverage:before {content: "\f3c5";margin-left: 3px;}
#sidebar-menu ul li a.icon-manage-support:before {content: "\f1cd";}
#sidebar-menu ul li a.icon-support:before {content: "\f590";}
#sidebar-menu ul li a.icon-resources:before{content: "\f07b";}
#sidebar-menu ul li a.icon-admin:before{content: "\f4fe";}
#sidebar-menu ul li a.icon-cpc:before{content: "\f1c0";}
#sidebar-menu ul li a.icon-industry:before{content: "\f1b3";}
#sidebar-menu ul li a.icon-product:before{content: "\f1b2";}
.vertical-collpsed .vertical-menu #sidebar-menu ul li a.dropdown-toggle:after {display: none;}
.vertical-collpsed .vertical-menu #sidebar-menu ul li a.icon-enquiry-form:before{left:26px;}
button:focus{outline: none;}
.my-profile-btn{position:absolute; top:0; right: 10px;}
.my-profile-btn .dropdown-item {padding: 0.75rem 1.3rem;  font-size: 15px;}
.my-profile-btn .open > .dropdown-menu { display: block; right: 0px !important;  width: 170px; float: none; left: inherit !important;}
.my-profile-btn .dropdown-item:hover, .my-profile-btn .dropdown-item:focus, .my-profile-btn .dropdown-item:active{background: transparent; color:#FF6600;}

.content-hld{min-height: 100vh;}
.enquiry-form-50 {}
.enquiry-form-p-x .webform-flex--container {margin: 0 0.9em;}
.enquiry-form-btn-hld .form-actions.form-group {text-align: left;}
label.error {color: #ed0000;font-size: 14px; font-weight: 400;}
.form-control.error{border: solid 1px #ed0000;}
.enquiry_select .form-select{font-size: 16px; font-family: 'interfaceregular';}
.enquiry_select .select-wrapper:after{top:27px;}
.enquiry-hld .page-title-box {padding-left: 0.7rem;}
.card{border: 1px solid #f1f1f1; border-radius: 0.25rem;-webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);}
.checkbox-error-msg label.error{position: absolute;  left: 0;  top: 26px;}
.enquiry-hld .form-item-term-and-condition a{color:#0056b3; }
.enquiry-hld .form-item-term-and-condition a:hover{color:#FF6600;}
.vertical-collpsed .vertical-menu #sidebar-menu {padding-top: 10px;}

/*Table*/
.custom-pages .table-responsive {}
.custom-pages .table-responsive .table th{
	border: 1px solid #ddd;
	padding: 15px 10px;
	background: #F58200;
	color: #fff;
	text-align: left;
	font-size: 16px;
	font-family: 'interfacebold';
	white-space: nowrap;
  }
  .custom-pages .table-responsive .table td{
	border: 1px solid #ddd;
	padding: 15px 10px;
	background: #fff;
	color: #7E8299;
	text-align: left;
	font-size: 15px;
	font-family: 'interfaceregular';
  }
  .custom-pages .table-responsive .table tr:nth-child(even) td{
	background: #E6E8EB;
  }
.custom-pages .table-responsive .table tr:hover {background-color: #ddd;}
.custom-pages .pagination > .active > a{background-color: #F58200;color: #fff; border-radius: 6px; border-color: #F58200;}
.custom-pages .pagination > .active > a:hover{background-color: #FF6600;color: #fff;}
.custom-pages .pagination > li > a{color: #939393; border: 0;    padding: 6px 14px;}
.custom-pages .pagination{justify-content: flex-end;margin-top: 30px;}
.custom-pages .bef-exposed-form .form--inline > .form-item { float: none; margin-right: 15px;}
.custom-pages .form-inline .control-label { margin-right: 10px;}
.custom-pages .form-inline .form-actions.form-group { margin-top: 0;}
.custom-pages .form-inline .form-control {max-width: 170px;}
.custom-pages .form-inline .form-control.form-autocomplete {max-width: 230px;}
.custom-pages .form-inline{    margin: 10px 0 25px;}
.custom-pages .pagination > li > a:hover, .custom-pages .pagination > li > span:hover, .custom-pages .pagination > li > a:focus, .custom-pages .pagination > li > span:focus {
    color: #F58200;
    background-color: transparent;
}
.custom-pages .form-inline .form-actions .btn{
    margin-right: 10px;
    margin-left: 10px;
}
.custom-pages {min-height: 400px;}
.custom-pages input[type="file"].form-file { display: block; padding: 10px;}
.custom-pages .csv-feed .feed-icon {
    background: #003399;
    border-radius: 6px;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'interfacebold';
    color: #FFFFFF;
    padding: 12px 30px;
    display: inline-block;
    border: 0;
    margin: 15px auto;
	text-indent: inherit;
    width: auto;
}
.custom-pages .input-group-addon{height: 50px; width:40px; display: flex;  margin-top: 3px; align-items: center; border: 1px solid #E6E8EB; border-left: 0;}


/*admin*/
#drupal-off-canvas.ui-widget-content .block-categories .js-layout-builder-category .collapse.in{display: none;opacity: 0;}
#drupal-off-canvas.ui-widget-content .block-categories .js-layout-builder-category .collapse{display: block;opacity: 1; height: 100% !important;}

/*SSC*/
.ssc-hld{background: url(../images/ssc-bg-img-new.png) center 100% no-repeat; min-height:350px; position: relative; display: flex;  align-items: flex-start; justify-content: center; margin: -20px -30px 30px; padding:0px 0 0;}
.ssc-form-hld{margin: 30px 0 0 0;  display: flex; flex-direction: column;}
.ssc-form-top{display: flex; align-items: center; margin-bottom: 20px;}
.ssc-form-top .form-group{margin-bottom: 0;}
.ssc-form-control{min-width: 290px; margin: 0 10px;width: auto;border: 1px solid #c7c7c7;}
.or-text{font-family: 'interfacethin';}
.ssc-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */color: rgba(95, 95, 95, 0.6); opacity: 1; /* Firefox */}
.ssc-form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */color:rgba(95, 95, 95, 0.6);}
.ssc-form-control::-ms-input-placeholder { /* Microsoft Edge */ color:rgba(95, 95, 95, 0.6);}
.ssc-result-heading{color: #3F4254; text-align: center;}
.ssc-result-list{display: flex; justify-content: center; flex-wrap: wrap; margin: 30px 0 0 0;padding: 0;}
.ssc-result-list li{display: flex;margin: 0 13px 25px; max-width: 250px; width: 22%;}
.ssc-result-list li .ssc-result-inn{width: 100%;background: #FFFFFF;box-shadow: 0px 0px 30px rgba(82, 63, 105, 0.15);	border-radius: 12px;padding: 30px 15px;}
.ssc-result-list li .ssc-result-inn .ssc-img{margin: 0 auto 30px; border-radius: 50%; width: 80px; height: 80px; display: flex; color: #fff; justify-content: center; align-items: center; font-size: 30px;}
.ssc-result-list li:nth-child(1n) .ssc-result-inn .ssc-img{background:#1E82C8;}
.ssc-result-list li:nth-child(2n) .ssc-result-inn .ssc-img{background:#CC0033;}
.ssc-result-list li:nth-child(3n) .ssc-result-inn .ssc-img{background:#003399;}
.ssc-result-list li:nth-child(4n) .ssc-result-inn .ssc-img{background:#FF6600;}
.ssc-text{position: relative; margin: 15px 0 0;padding-right: 28px;}
.ssc-text p{font-size: 16px; color: #606064; text-align: left;}
.ssc-text .ssc-icon{position: absolute; top: 0; right: 0; border-radius: 50%;  background: #F58200; color: #fff; padding: 3px; font-size: 12px; width: 22px; height: 22px;  display: flex;  justify-content: center; align-items: center;}
.ssc-text .ssc-icon i{position: relative; top: 1px; left: 1px;}
.ssc-text .ssc-icon.not-support {background: #b1b1b1;}

/**/
.taxonomy-overview-terms .select-wrapper .form-select{height: 36px; border: solid 1px #b9b9b9;}
.taxonomy-overview-terms .select-wrapper:after{color: #b9b9b9;font-size: 14px;}
.taxonomy-overview-terms .select-wrapper{max-width: 120px;}
.taxonomy-overview-terms .btn{font-size: 16px;}
.taxonomy-overview-terms .btn.btn-xs{
	padding: 8px 15px;
    height: 36px;
    font-size: 16px;
    font-family: 'interfaceregular';
    background: #fff;
    color: #333;
    border: solid 1px #b9b9b9;
}

.taxonomy-overview-terms .btn.dropdown-toggle{
	height: 36px;
    background: #fff;
    border: solid 1px #b9b9b9;
    box-shadow: none;
    background: #fff;}

.taxonomy-overview-terms .btn.dropdown-toggle .caret{display:none;}
.taxonomy-overview-terms .btn.dropdown-toggle::after {
    margin-left: 0.155em;
    vertical-align: 0.195em;
    color: #b9b9b9;
}

.custom-pages .taxonomy-overview-terms .table th{
	border: 1px solid #ddd;
	padding: 15px 10px;
	background: #F58200;
	color: #fff;
	text-align: left;
	font-size: 16px;
	font-family: 'interfacebold';
	white-space: nowrap;
  }
  .custom-pages .taxonomy-overview-terms .table td{
	border: 1px solid #ddd;
	padding: 15px 10px;
	background: #fff;
	color: #7E8299;
	text-align: left;
	font-size: 15px;
	font-family: 'interfaceregular';
  }
.custom-pages .taxonomy-overview-terms .table tr:nth-child(even) td{background: #E6E8EB;  }
.custom-pages .taxonomy-overview-terms .table tr:hover {background-color: #ddd;}
.taxonomy-overview-terms .btn.btn-danger{
	background: #CC0033;
}
.taxonomy-overview-terms .dropdown-menu > li > a{
	padding: 5px 10px;
    font-size: 16px;
}
.button--danger{
	background: #CC0033;
    border-radius: 6px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    font-family: 'interfacebold';
    color: #FFFFFF;
    padding: 12px 30px;
    display: inline-block;
    border: 0;
    margin: 0 auto;
}
.button--danger:hover{color: #fff;}

/*Loader*/
.loader-hld{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    left: 0;
    top: 0;
    z-index: 9;
    background: rgb(255 255 255 / 79%);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; font-size:0;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background:#FF6600;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Dashboard*/
.db-pro-heading{font-size:18px; color:#3F4254;}
.card-title {font-size: 15px; margin: 0 0 7px 0; font-weight: 600;}
.border-top {border-top: 1px solid #eff2f7!important;}
.news-db-hld .card{height:100%;}
.btn-success .icon{display: none;}
.user-user-profile-edit-form-form .form-actions.form-group { text-align: left;}
.user-pass-reset-override .btn-success{margin-top: 20px;}

.enquiry-form-custom-hld ::placeholder, .telephone-hld ::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */color: rgba(0, 0, 0, 0.6); opacity: 1; /* Firefox */}
.enquiry-form-custom-hld :-ms-input-placeholder, .telephone-hld :-ms-input-placeholder  { /* Internet Explorer 10-11 */color:rgba(0, 0, 0, 0.6);}
.enquiry-form-custom-hld ::-ms-input-placeholder, .telephone-hld ::-ms-input-placeholder  { /* Microsoft Edge */ color:rgba(0, 0, 0, 0.6);}
.enquiry-form-custom-hld .iti.iti--allow-dropdown{display: block; width: 100%;}
.custom-pages .enquiry-form-custom-hld .form-inline .form-control {max-width: inherit; width: 100%;}
.custom-pages .enquiry-form-custom-hld .form-inline {margin: 0px 0 25px;}
.custom-pages .enquiry-form-custom-hld .form-inline .control-label {margin-right: 10px; margin-bottom: 0.5rem;}

.telephone-hld .iti.iti--allow-dropdown{display: block; width: 100%;}
.telephone-hld{margin-right: 10px; margin-bottom: 0.5rem;}
.telephone-hld.form-inline .form-control { max-width: inherit;  width: 100%;}
.date-time-hld .form-inline .form-control{max-width: inherit;  width: 100%;}
.date-time-hld .form-type-webform-time{width: 48%;margin: 0; margin-left: 2%;}
.date-time-hld .form-type-date{width: 48%; margin: 0; margin-right: 2%;}
.date-time-hld.form-item.form-type-datetime .container-inline{width: 100%; display: flex; margin-top: 3px;}
.date-time-hld .control-label{width:100%;}

.add-service-id .table thead{display: none;}
.add-service-id .table tr{background-color: #fff; width: 220px; display: inline-block;  margin-bottom: 10px; padding: 0;}
.add-service-id .table-striped tbody tr:nth-of-type(odd) td, .custom-pages .add-service-id .table-responsive .table tr:nth-child(even) td{background-color: #fff;}
.custom-pages .add-service-id .table-responsive .table td{border: 0; padding:0 5px;}
.add-service-id .table tr:first-child{width:174px;}
.add-service-id .table tr:first-child .btn.btn-danger{display: none;}
.add-service-id .table tr:first-child td:last-child{display: none;}
.add-service-id .control-label{display: block;}
.add-service-id .webform-multiple-table {float: left; display: inline-block;}
.add-service-id .webform-multiple-add{width: auto; float: left; margin-left: 15px;}


.add-service-id .btn.btn-danger{background-color: #CC0033; font-size: 0; line-height: 0; padding: 10px 10px;}
.add-service-id .btn.btn-danger .glyphicon{font-size: 16px; margin: 0; padding: 0;}

.custom-pages .select-wrapper:after{top:28px;}
.enquiry-form-custom-hld  .form-inline .iti.iti--allow-dropdown label, .telephone-hld  .form-inline .iti.iti--allow-dropdown label{justify-content: flex-start;}
.iti__selected-flag { height: 48px;}
.thanks-hld{text-align: center;}
.thanks-hld .thanks-img svg{width:120px; height:120px;}
.thanks-hld h2{font-weight: 600;font-size: 30px;}
.thanks-hld .thanks-subheading{font-weight: 400; font-size: 16px; margin-bottom: 10px;}


/*16-05-2022*/
.news-link{color: #0056b3;}
.ssc-result-inn a{
		background: #003399;
		border-radius: 6px;
		font-size: 16px;
		display: inline-block;
		letter-spacing: 1px;
		line-height: 16px;
		text-align: center;
		text-decoration: none;
		font-family: 'interfaceregular';
		color: #FFFFFF;
		padding: 8px 20px;
		display: block;
		border: 0;
		margin: 0 auto;
}
.ssc-result-inn p.ssc-info{
	font-size: 14px;
    color: #606064;
    line-height: 1.3;
    background: #e7e7e7;
    padding: 5px 8px;
    border-radius: 6px;
}
.tc-msg{
	background: #e6eeff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #4e4e4e;
}

@media (min-width: 768px) {
	.support-flexbox .webform-flex--container > .form-item {margin: 0 0.5em;}
	.support-flexbox .webform-flex--container {margin: 0;}
	.support-flexbox .webform-flex--0 {flex: inherit;}

	.ctp-hld{display: block;}
	.ctp-hld .webform-flex--0{width: 50%; float: left;}
	}





@media only screen and (min-width: 992px) and (max-width: 1279px) {
	.block-login-form-popup {
		margin-right: 0%;
	}
	.menu--before-login li {margin: 0 4px;}
	.ssc-result-list li {margin: 0 10px 20px;max-width: 250px;width: 30%;}
	.ssc-text p {font-size: 14px;}
}



@media (max-width: 991px) {
	.header-hld {padding: 10px 0;}
	.logo-hld img{width: 70px;}
	.before-login-menu-hld .menu--before-login {
		justify-content: flex-start;
		align-items: flex-start;
		height: inherit;
	}
	.menu--before-login {flex-direction: column;width: 100%;}
	.menu--before-login li {margin: 0 0px 10px;display: block;width: 100%;}
	.menu--before-login li a {padding: 8px 10px; text-align: left; color: #ffffff; font-size: 18px;}
	.menu--before-login li a.btn-login { width: 100%;}
	.navigation {
		position: fixed;
		z-index: 9600;
		top: 0;
		bottom: 0;
		right: 0;
		/*overflow-y: auto;*/
		transition: transform .2s;
		-webkit-transform: translateX(102%);
		transform: translateX(102%);
		-ms-transform: translateX(102%);
		-ms-overflow-style: none;
		width: 90%;
		padding: 4vh 1.75rem;
		background: #003399;
		will-change: transform;
		height: 100vh;
		justify-content: flex-start;
	}
	.show-nav .navigation {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.nav-toggle {
		position: absolute;
		right: 5px;
		transform: translateY(-50%);
    	top: 50%;
		width: 36px;
		height: 36px;
		border: 0;
		padding: 0.8rem 0.625rem;
		max-width: 4.625rem;
		cursor: pointer;
		float: left;
		-webkit-transition: -webkit-transform .2s;
		transition: transform .2s;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		z-index: 9000;
		background: #fff;
		will-change: transform;
		border-radius:4px;
		margin: 0;
		display: block;
	}
	.icon-toggle>span {
		position: absolute;
		left: 0;
		display: block;
		width: 80%;
		height: 2px;
		-webkit-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		background: #003399;
		transition: all .3s;
	}
	.icon-toggle>span:nth-child(1) {top: 9px; left: 6px; width: 65%;}
	.icon-toggle>span:nth-child(2), .icon-toggle>span:nth-child(3) {top: 17px; left: 6px; width: 65%;}
	.icon-toggle>span:nth-child(4) {top: 25px; left: 6px; width: 65%;}
	.nav-toggle.navbar-close {background: #003399;}
	.nav-toggle.navbar-close span{background: #fff;}
	.navbar-close .icon-toggle>span:nth-child(1), .navbar-close .icon-toggle>span:nth-child(4) {top: 4px; left: 50%; width: 0%;}
	.navbar-close .icon-toggle>span:nth-child(2) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);transform: rotate(45deg); top: 17px; left: 6px;}
	.navbar-close .icon-toggle>span:nth-child(3) {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 17px; left: 6px;}

	.navbar-close{left: 100%; top:10px; position: fixed; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0);}
	.show-nav .nav-toggle {opacity: 0;	}
	.show-nav .navbar-close {opacity: 1;}

	.show-nav .nav-toggle.navbar-close {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		transition: all .2s;
		top: 10px;
		left: -34px;
	}
	.backdrop {
		background: rgba(255,255,255,.7);
		width: 100%;
		position: fixed;
		height: 100vh;
		z-index: 5;
		top: 0;
		left: 0;
		display: block;
	}
	.pro-list li { flex: 1 0 50%;  max-width: 345px;}
	.footer-menu.no-border-right-md{border-right:0;}
	.footer-menu .content-footer{display:none;}
	.footer-menu li{position: relative;}
	.footer-toggle .arrow{
		background: url(../images/arrow-right-icon.png) 100% 36% no-repeat;
		background-size: 20px 20px; display:block;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 4px;
		right: 4px;transition: 0.3s ease;
		}
	.footer-menu .footer-toggle .arrow-animate {transform: rotate(90deg); transition: 0.3s ease;}

	.block-login-form-popup {
		width: 140px;
		position: absolute;
		right: 1%;
		top: 50%;
		margin-right: 0;
		transform: translateY(-50%);
	}
	.login-popup-form {
		border-radius: 4px;
		font-size: 14px;
		padding: 7px 10px;
	}
	.navigation{margin:0;}
	.before-login-menu-hld {margin-right: 160px;}
	.before-login-menu-hld li ul.dropdown-menu{
		background: transparent;
		left: 0;
		position: relative;
		top: 0;
		transform: translateX(0);
		padding: 0;
		box-shadow: none;
		width: 100%;
		border: 0;
		display: block !important;
	}
	.before-login-menu-hld .dropdown-toggle::after{display: none;}
	.before-login-menu-hld li .dropdown-backdrop{display: none;}
	.menu--before-login li ul li {border-bottom: solid 0px #e7e7e7;margin: 0 0 0 15px;	}
	.menu--before-login li ul li a {padding: 7px 10px;}

	.ssc-result-list li {margin: 0 10px 20px;max-width: 250px;width: 30%;}
	.ssc-text p {font-size: 14px;}
	.footer-link-heading{margin: 0 0 10px; border-bottom: 1px solid rgba(181, 181, 195, 0.3); border-right:0;pointer-events: auto;}

}


@media (max-width: 767px) {
	.hero-banner {min-height: 300px; background-size: contain;}
	.hero-banner h1 {font-size: 34px;}
	.hero-banner h3 {font-size: 20px;}
	.footer-menu-inline{text-align:left;}
	.footer-menu {margin: 0 0 10px; border-bottom: 1px solid rgba(181, 181, 195, 0.3); border-right:0;height: inherit; display:none;}
	.footer-menu-inline{margin-top:15px;}
	.footer-menu-inline li {width: 100%;}
	.footer-desktop{overflow:inherit;}
	.footer-link-heading{margin: 0 0 10px; border-bottom: 1px solid rgba(181, 181, 195, 0.3); border-right:0;pointer-events: auto;}
	.pro-list {flex-direction: column;}
	.pro-list li {margin: 0 0 10px;  flex: 1 0 100%; max-width: inherit;}

	.hero-txt {margin: 0 20px;}
	.block-login-form-popup {
		width: 150px;
		position: absolute;
		right: 1%;
		top: 50%;
		margin-right: 0;
		transform: translateY(-50%);
	}
	.login-popup-form {
		border-radius: 4px;
		font-size: 14px;
		padding: 7px 10px;
	}
	.navigation{margin:0;}
	.user_login .modal-body {
		padding: 0;
	}
	.reset-password-hld{
		margin: 60px 20px;
    	width: auto;
		padding: 20px;
	}
	.reset-password-hld p{width: 100%;}
	.reset-password-hld h2 {
		font-size: 22px;
		line-height: 26px;
		margin: 0px 0 10px;
	}
	.reset-password-hld h4 {
		font-size: 16px;
		line-height: 24px;
		margin: 10px 0 20px;
	}

	/*Admin*/
	.vbo-view-form, .views-bulk-operations-confirm-action{margin: 20px;}
	.enquiry-hld{padding:2rem 1rem !important;}
	.enquiry-form-p-x .webform-flex--container {margin: 0 0.4em;}
	.enquiry-form-p-x .webform-flex{margin-bottom: 20px;}
	.page-title-box {padding-bottom: 4px;}
	.checkbox-error-msg label.error{top: 45px;}

	/*Admin*/
	.custom-pages .bef-exposed-form .form--inline > .form-item {
		margin-right: 0;
		width: 100%;
	}
	.custom-pages .form-inline .form-control {
		max-width: 100%;
		width: 100%;
	}
	.custom-pages .form-inline .form-actions.form-group {
		margin-top: 10px;
		width: 100%;
	}
	.custom-pages .form-inline .form-actions .btn {
		margin-right: 0px;
		margin-left: 0;
		width: 100%;
	}
	.custom-pages .pagination {
		justify-content: center;
	}
	/*SSC*/
	.ssc-result-list li {width: 100%;max-width: inherit;}
	.ssc-form-top {flex-direction: column;}
	.btn.ssc-btn{width:100%;}
	.ssc-result-list li .ssc-result-inn {padding: 20px 15px;}
	.ssc-text p {font-size: 16px;}
	.ssc-hld {margin: 0 -10px 20px;padding: 0px 0 0;background-size: contain;background-position: center bottom;	}
	.page-content {
		padding: calc(50px + 24px) calc(10px / 2) 60px calc(10px / 2);
	}
	.taxonomy-overview-terms .btn.btn-success, .taxonomy-overview-terms .btn.btn-danger {
		width: 100%;
		margin-bottom: 20px;
	}
	.taxonomy-term-product-form .btn, .taxonomy-term-industry-form .btn{width: 100%;margin-bottom: 15px;}


	.add-service-id .webform-multiple-table {
		float: none;
		display: block;
	}
	.add-service-id .webform-multiple-add {
		width: auto;
		float: none;
		margin-left: 0;
	}
	.add-service-id .table tr:first-child {
		width: 100%;background: #fff;
	}
	.add-service-id .table tr td:first-child {
		width:80%;
	}
	.add-service-id .table tr td:last-child {
		width:20%; text-align: right;
	}
	.custom-pages .add-service-id .table-responsive{border: 0; overflow-x: hidden;}
	.add-service-id .table tr {width: auto;	}
	.date-time-hld .form-type-date {
		width: 100%;
		margin-right: 0%;
	}
	.date-time-hld .form-type-webform-time {
		width: 100%;
		margin: 0;
		margin-left: 0%;
		margin-top: 20px;
	}
	.mobile-mt-4{margin-top: 15px;}
	.mobile-mb-4{margin-bottom: 15px !important;}

	
	.ctp-hld .webform-flex--0{width: 100%; float: none;}



}
