<!-- HTML Start -->
	<header class="header-hld">
		{{page.header}}
	</header>
	
	<section class="banner-hld">
		{{page.banner}}
	</section>
	
	<section class="content-hld pt-5 pb-2 pb-md-5">
		{{page.content}}
	</section>
	
	<footer class="footer-hld">
		{{page.footer}}
	</footer>